body {
    padding: 0;
    margin: 0;

}

p, h1,h2,h3,h4,h5,h6,span {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    border-bottom: 1px solid black;
}

header nav .left {
    float: left;
    margin: 0 10px;
}

header nav .right {
    float: right;
    margin: 0 10px;
}


.logo {
    color: #ff764d;
}

header nav a {
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

header nav a:hover {
    color: #ff764d;
    transition: 300ms;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.ableton-img {
    margin-top: 0px 50px 900px 50px;
    width: 1500px;
}

.intro-text {
    width: 900px;
    font-size: 27px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 90px 0;
}

.intro-text a {
    text-decoration: none;
}

.intro-text h2 {
    font-weight: 500;
}

.intro-text h4 {
    font-weight: 200;
}

.about-images {
    width: 100%;
    height: 700px;

}

.images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 700px;
}

.images img:nth-child(2) {
    width: 580px;
}
.images img:nth-child(1) {
    width: 560px;
}

.yellow-right {
    background: #fff693;
    width: 60%;
    height: 700px;
    position: absolute;
    float: right;
    z-index: -1;
}

.green-right {
    background: #aeffb0;
    width: 60%;
    height: 700px;
    position: absolute;
    right: 0;
    z-index: -1;
}



.outro-box {
    width: 1221px;
    height: 200px;
    background: rgb(141, 181, 255);
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.outro-box h2 {
    margin: 50px;
    font-weight: 500;
}

footer { 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .logo h1 {
    font-size: 72px;
    padding: 0 120px; 
    color: black;
    float: left;
}

footer .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin: 0 120px;
}

footer .menu a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

footer .menu a:hover {
    border-bottom: 1px solid black;
}

.menu2 p {
    font-weight: bold;
}

.menu3 {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.menu3 form .btn-submit {
    background-color: #0000ff;
    border: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    padding: 5px;
    font-size: 22px;
    margin: 0;
}
.menu3 form input {
    width: 250px;
    padding: 8px;
    font-size: 17px;
    border: none;
    background-color: rgb(203, 203, 203);
    color: #eee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu3 form {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}

.menu2 {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.menu1 {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: black;
    text-decoration: none;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

footer .creator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 18px;
}

.creator a {
    text-decoration: none;
}